@use "../../../styles/helpers/index" as *;

.channel-main {
  font-size: rem(14);

  display: grid;
  grid-template-columns: 2fr repeat(6, 1fr);
  align-items: center;
  column-gap: rem(30);

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(10);
    row-gap: rem(10);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(20);
  }

  &__header {
    display: flex;
    column-gap: rem(10);
    align-items: center;

    @include tablet {
      grid-column: 1 / -1;
      flex-direction: row;
    }

    @include mobile {
      flex-direction: row;
      text-align: start;
    }
  }

  &__image {
    &-wrapper {
      @include square(rem(40));
      @include flex-center;

      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
    }
  }

  &__name {
    hyphens: manual;
  }

  &__list {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      grid-column: 1 / -1;
      order: 1;

      display: flex;
      flex-direction: column;
      row-gap: rem(10);
    }
  }

  &__item {
    &:not(:has(p[class='channel-item__label  visible-mobile'])) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      hyphens: manual;

      @include mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &:nth-child(4) {
      color: var(--green-color);
    }
  }

  &__label {
    color: #6C6E9D;
  }

  &__risk-1,
  &__risk-2,
  &__risk-3 {
    hyphens: auto;
  }

  &__risk-1 {
    color: var(--green-color-alt);
  }
  &__risk-2 {
    color: #ffb342;
  }
  &__risk-3 {
    color: var(--red-color);
  }

  &__link {
    &::after {
      @include square(rem(36));
      content: '';

      background-image: url("/src/assets/icons/Arrow-right.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    @include mobile {
      margin-left: auto;
    }
  }
}