@use "../../styles/helpers" as *;


.input {
  @include background;

  border-radius: var(--border-radius);
  background: transparent;
  border: rem(1) solid transparent;

  padding: rem(16) rem(27);

  width: 100%;

  color: var(--grey-color);

  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @include mobile-s {
    padding: rem(10) rem(20);
  }

  &::placeholder {
    color: var(--grey-color);
  }

  &_upload-file {
    @include visually-hidden;
  }

  &_invalid {
    border: rem(1) solid var(--red-color);

    &::placeholder {
      color: var(--red-color);
    }
  }
}