@use "../../../styles/helpers" as *;

.tabs {

  background-color: transparent;
  border: none;
  border-bottom: rem(2) solid transparent;

  padding-inline: 0;

  &.is-active {
    color: var(--green-color);
    border-bottom: rem(2) solid var(--green-color);
  }

  @include hover {
    color: var(--green-color);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(7);

    @include mobile-s {
      column-gap: 0;
    }
  }
}