@use "../../../styles/helpers" as *;

.tab {

  background-color: transparent;
  border: none;
  border-bottom: rem(2) solid transparent;

  padding-inline: 0;

  &.is-active {
    color: var(--green-color);
    border-bottom: rem(2) solid var(--green-color);
  }

  @include hover {
    color: var(--green-color);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(7);

    @include mobile-s {
      column-gap: 0;
    }
  }

  &_alt {
    border: rem(1) solid #4D5568;
    border-radius: rem(6);

    padding: rem(4) rem(10);

    color: #A5A9B1;

    text-wrap: nowrap;

    &.is-active {

      background:
              linear-gradient(#1E293E, #1E293E) padding-box,
              var(--base-gradient) border-box;
      color: var(--green-color);
      border: rem(1) solid transparent;
    }
  }
}