@use "../../styles/helpers" as *;

.aside {
  padding: rem(38) rem(28);
  width: max-content;

  border-radius: rem(8);
  background: rgba(80, 110, 131, 0.20);
  box-shadow: 0 rem(1) rem(2) 0 rgba(239, 232, 232, 0.60) inset;
  backdrop-filter: blur(rem(12));

  @include mobile {
    padding: rem(30) 0;
    width: 100vw;
    order: 1;

    margin-left: calc(-1 * var(--container-padding-x));

    border-radius: rem(8) rem(8) 0 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(24);

    @include mobile {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(6);

    color: #B5B7CB;
    
    &.is-active {
      color: var(--green-color);
    }
  }

}