@use "../../../styles/helpers/index" as *;


.channel-card {
  @include background;

  padding: rem(17);
  padding-bottom: rem(30);

  display: flex;
  flex-direction: column;
  row-gap: rem(20);

  &:has(div[class='channel-card__create-channel']) {
    row-gap: rem(80);
  }

  @include tablet {
    padding: rem(11);
    padding-bottom: rem(26);

    row-gap: rem(10);
  }

  @include mobile {
    padding-bottom: rem(18);
  }

  &__header {
    background-color: var(--dark-color-alt);
    padding-block: rem(15);
    text-align: center;
    border-radius: rem(10);

    font-weight: 500;

    @include tablet {
      padding-block: rem(10);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);

    @include tablet {
      row-gap: rem(16);
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(20);

    @include tablet {
      row-gap: rem(10);
      flex-direction: column;

      align-items: normal;
    }
  }

  &__author,
  &__buttons{
    display: flex;
    column-gap: rem(12);
    align-items: center;

    @include tablet {
      column-gap: rem(8);
    }
  }

  &__buttons {
    margin-left: auto;
  }

  &__button-icon {
    @include flex-center;
    @include square(rem(32));

    background-color: #33335A;
    border-radius: rem(5);
    border: rem(1) solid transparent;
    padding: rem(6);

    @include hover {
      opacity: 0.6;
    }
  }

  &__image {
    @include square(100%);

    &-wrapper {
      @include square(rem(50));

      overflow: hidden;
      border-radius: 50%;

      flex-shrink: 0;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(16);
      column-gap: rem(10);
    }
  }

  &__item {
    background-color: var(--dark-color-alt);
    border-radius: rem(8);
    padding: rem(16) rem(20) rem(42) rem(20);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(30);

    width: auto;

    &:nth-child(3) {
      color: var(--green-color-alt);
    }

    &:nth-child(4) {
      color: var(--green-color);
    }

    p[class='size-small'] {
      color: #9C9BD6;
      hyphens: auto;
    }
  }

  &__risk-1,
  &__risk-2,
  &__risk-3 {
    hyphens: auto;
  }

  &__risk-1 {
    color: var(--green-color-alt);
  }
  &__risk-2 {
    color: #ffb342;
  }
  &__risk-3 {
    color: var(--red-color);
  }

  &__extra {
    @include tablet {
      text-align: center;
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
  }

  &__create {
    &-channel {
      display: flex;
      flex-direction: column;
      row-gap: rem(100);
      align-items: center;

      margin-block: auto;
    }

    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: rem(13);

      padding: rem(44) rem(78);

      background-color: transparent;
      border: rem(1) dashed var(--grey-color);
      border-radius: rem(20);

      @include hover {
        box-shadow: 0 0 rem(9) rem(2) var(--green-color);
      }
    }

    &-image {
      @include square(rem(40));
    }
  }

  &__link {
    color: var(--green-color);
  }

  &__modal {
    padding-top: rem(8);

    display: flex;
    flex-direction: column;
    row-gap: rem(30);

    @include tablet {
      padding: rem(8) rem(40) 0 rem(40);
    }

    @include mobile-s {
      padding: rem(8) rem(20) 0 rem(20);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(22);
  }

  &__error {
    color: var(--red-color);
  }

  &__field {
    width: 100%;

    &-wrapper {
      display: flex;
      align-items: center;
      column-gap: rem(20);
    }
  }

  &__tooltip {
    margin-left: rem(-64);
  }


  &[data-main-element='true'] {
    padding: rem(17) rem(28);
  }

  [data-main-element='true'] & {

    &__header,
    &__buttons,
    &__date {
      @include visually-hidden;
    }

    &__body {
      display: grid;
      grid-template-columns: 1.9fr 0.8fr 1fr 1fr 0.8fr 0.6fr 0.8fr;
      align-items: center;
      column-gap: rem(30);

      @include tablet {
        grid-template-columns: 0.8fr 0.8fr 1fr 1fr 0.8fr 0.8fr;
        column-gap: rem(20);
      }
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__title {
      @include tablet {
        grid-column: 1 / -1;
      }
    }

    &__author {
      @include mobile {
        flex-direction: row;
      }
    }

    &__image {
      &-wrapper {
        @include square(rem(40))
      }
    }

    &__info {
      @include mobile-above {
        display: contents;
      }

      @include mobile {
        grid-column: 1 / -1;
        order: 1;

        grid-template-columns: 1fr;
      }
    }

    &__item {
      background-color: transparent;
      padding: 0;

      align-items: start;
      text-align: start;

      @include mobile {
        flex-direction: row;
      }
    }

    &__name {
      font-size: rem(12);
      hyphens: auto;
    }

    &__extra {
      @include visually-hidden;
      display: none;
    }
  }
}