@use "./helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

body {
  @include fluid-text(16, 14);

  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  color: var(--white-color);

  background-color: var(--dark-color);

  &.is-lock {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
  }
}


h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(40, 22);

  font-weight: 700;
}

h3, .h3 {
  @include fluid-text(26, 17)
}

h4, .h4 {
  @include fluid-text(22, 18)
}

p {
  &.size-small {
    font-size: rem(12);
  }
}

a,
button {
  color: inherit;
  text-decoration: none;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--green-color);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--white-color);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}