/* Error: Undefined mixin.
 *    ,
 * 14 | /   @include mobile-s {
 * 15 | |     display: none !important;
 * 16 | \   }
 *    '
 *   src/styles/_utils.scss 14:3  @use
 *   src/styles/index.scss 4:1    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 14 \2502  \250c    @include mobile-s {\a 15 \2502  \2502      display: none !important;\a 16 \2502  \2514    }\a    \2575 \a   src/styles/_utils.scss 14:3  @use\a   src/styles/index.scss 4:1    root stylesheet";
}
