@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-gradient: linear-gradient(
                  4deg,
                  #2C90F7 -17.59%,
                  #05C0CC 115.3%
  );
  --alt-gradient: linear-gradient(
                  74deg,
                  #057EFB 4.86%,
                  #0DF0FF 97.42%
  );
  --dark-color: #253142;
  --dark-color-alt: #172333cc;
  --blue-color: #2C90F7;
  --white-color: #FFFFFF;
  --grey-color: #DCDCDC;
  --red-color: #FC4C4F;
  --green-color: #73FFF2;
  --green-color-alt: #27AE60;
  --violet-color: #6526AC;
  --yellow-color: #F2994A;
  --font-family: "Montserrat", "sans selif";
  --border-radius: 0.9375rem;
  --container-width: 87.1875rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width > 64.06125rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 64.06125rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8232044199rem + 0.2209944751vw, 1rem);
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  color: var(--white-color);
  background-color: var(--dark-color);
}

h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(1.375rem, 0.908839779rem + 1.9889502762vw, 2.5rem);
  font-weight: 700;
}

h3, .h3 {
  font-size: clamp(1.0625rem, 0.8294198895rem + 0.9944751381vw, 1.625rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 1.0214088398rem + 0.4419889503vw, 1.375rem);
}

p.size-small {
  font-size: 0.75rem;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--green-color);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--green-color);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--white-color);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header-unlogin__inner {
  padding-block: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.625rem;
}
.header-unlogin__nav {
  margin-left: auto;
}
@media (width <= 64.06125rem) {
  .header-unlogin__nav {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
}
.header-unlogin__list {
  display: flex;
  column-gap: 1.625rem;
}
@media (width <= 64.06125rem) {
  .header-unlogin__list {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color);
    border-radius: var(--border-radius);
    padding: 1.875rem;
    width: 75%;
    height: 65%;
    z-index: 1000;
  }
}
.header-unlogin__item {
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  background: var(--base-gradient);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.22) inset, 0px 1px 2px 0px rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(3px);
  padding: 0.75rem 2.6875rem;
}
.button__size-small {
  padding: 0.4375rem 1.5rem;
}
.button__size-smallest {
  padding: 0.3125rem 0.75rem;
}
.button::before {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--alt-gradient);
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.22) inset, 0px 1px 2px 0px rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(3px);
  border-radius: var(--border-radius);
  transition: opacity var(--transition-duration);
  z-index: -1000;
}
@media (any-hover: hover) {
  .button:hover::before {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .button:active::before {
    opacity: 1;
  }
}
.button_alt {
  background: transparent;
  border: 0.0625rem solid var(--green-color);
  box-shadow: none;
  backdrop-filter: none;
  border-radius: 0.4375rem;
}
@media (any-hover: hover) {
  .button_alt:hover {
    opacity: 0.7;
  }
  .button_alt:hover::before {
    opacity: 0;
  }
}
@media (any-hover: none) {
  .button_alt:active {
    opacity: 0.7;
  }
  .button_alt:active::before {
    opacity: 0;
  }
}
.button_delete {
  background: var(--red-color);
}
.button_delete::before {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
@media (any-hover: hover) {
  .button_delete:hover {
    background: #DE282C;
  }
}
@media (any-hover: none) {
  .button_delete:active {
    background: #DE282C;
  }
}

.header__inner {
  padding: 1.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .header__inner {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}
.header__components {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
@media (width <= 47.99875rem) {
  .header__components {
    column-gap: 1.25rem;
  }
}
.header__money-amount {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.header__account-type {
  cursor: default;
}
@media (any-hover: hover) {
  .header__account-type:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .header__account-type:active {
    opacity: 1;
  }
}
.header__user-button {
  background: transparent;
  border: none;
  text-align: start;
  align-items: center;
  display: flex;
  column-gap: 0.5rem;
  width: max-content;
}
.header__user-button::before {
  width: 0.875rem;
  height: 0.875rem;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__user-button:first-child::before {
  background-image: url("/src/assets/icons/Options.svg");
}
.header__user-button:nth-child(2):before {
  background-image: url("/src/assets/icons/Setting.svg");
}
.header__user-button:last-child::before {
  background-image: url("/src/assets/icons/Logout.svg");
}
@media (any-hover: hover) {
  .header__user-button:hover {
    color: var(--green-color);
  }
}
@media (any-hover: none) {
  .header__user-button:active {
    color: var(--green-color);
  }
}

.loader {
  width: 3.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.375rem solid var(--green-color);
  animation: loader-1 0.8s infinite linear alternate, loader-2 1.6s infinite linear;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
}

@keyframes loader-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes loader-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.burger-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
}
.burger-button__inner {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.1875rem;
  align-items: start;
}
.burger-button__line {
  width: 1.375rem;
  height: 0.125rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
.burger-button__line:last-child {
  width: 1rem;
}
.burger-button.is-active {
  position: relative;
}
.burger-button.is-active .burger-button__line {
  position: absolute;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
@media (any-hover: hover) {
  .burger-button:hover {
    background-color: var(--green-color);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    background-color: var(--green-color);
  }
}

.app-router__not-registered {
  background-image: url("/src/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.app-router__not-registered-body {
  padding-block: 6.25rem;
  position: relative;
  z-index: 2;
}
@media (width <= 64.06125rem) {
  .app-router__not-registered-body {
    padding-block: 3.875rem;
  }
}
@media (width <= 47.99875rem) {
  .app-router__not-registered-body {
    padding-block: 3rem;
  }
}
.app-router__not-registered-ui-bubble {
  display: block;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
}
.app-router__not-registered-ui-bubble:first-child {
  width: 9.5rem;
  height: 9.5rem;
  top: 10%;
  left: 15%;
  background: linear-gradient(4deg, rgba(115, 17, 198, 0.9) -0.98%, rgba(132, 105, 209, 0.9) 89%);
}
@media (width <= 64.06125rem) {
  .app-router__not-registered-ui-bubble:first-child {
    top: 15%;
    left: 5%;
  }
}
.app-router__not-registered-ui-bubble:nth-child(2) {
  width: 9.5rem;
  height: 9.5rem;
  top: 45%;
  left: 70%;
  background: linear-gradient(174deg, #2C90F7 4.43%, #94B9FF 198%);
}
@media (width <= 64.06125rem) {
  .app-router__not-registered-ui-bubble:nth-child(2) {
    top: 35%;
  }
}
.app-router__not-registered-ui-bubble:last-child {
  width: 3.875rem;
  height: 3.875rem;
  top: 20%;
  left: 60%;
  background: var(--green-color);
}
.app-router__registered {
  position: relative;
}
.app-router__registered::before {
  position: absolute;
  z-index: -1;
  content: "";
  background-image: url("/src/assets/images/backbroundReg.png");
  background-position: center;
  filter: blur(30px);
  display: block;
  width: 100%;
  height: 100%;
}
.app-router__registered-body {
  display: flex;
  column-gap: 1.875rem;
  padding-bottom: 0.625rem;
}
@media (width <= 64.06125rem) {
  .app-router__registered-body {
    column-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .app-router__registered-body {
    flex-direction: column;
    row-gap: 1.875rem;
    padding-bottom: 7.375rem;
  }
}

.tabs-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-collection_alt {
  column-gap: 1.25rem;
  row-gap: 0.625rem;
  flex-wrap: wrap;
}
@media (width <= 47.99875rem) {
  .tabs-collection_alt {
    column-gap: 0.625rem;
  }
}

.tab {
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid transparent;
  padding-inline: 0;
}
.tab.is-active {
  color: var(--green-color);
  border-bottom: 0.125rem solid var(--green-color);
}
@media (any-hover: hover) {
  .tab:hover {
    color: var(--green-color);
  }
}
@media (any-hover: none) {
  .tab:active {
    color: var(--green-color);
  }
}
.tab-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.4375rem;
}
@media (width <= 30.06125rem) {
  .tab-wrapper {
    column-gap: 0;
  }
}
.tab_alt {
  border: 0.0625rem solid #4D5568;
  border-radius: 0.375rem;
  padding: 0.25rem 0.625rem;
  color: #A5A9B1;
  text-wrap: nowrap;
}
.tab_alt.is-active {
  background: linear-gradient(#1E293E, #1E293E) padding-box, var(--base-gradient) border-box;
  color: var(--green-color);
  border: 0.0625rem solid transparent;
}

.tooltip {
  position: relative;
}
.tooltip__header {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--base-gradient);
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.22) inset, 0px 1px 2px 0px rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(3px);
  cursor: default;
}
.tooltip__header:hover + .tooltip__description {
  opacity: 1;
  visibility: visible;
}

.login {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(15px);
  padding: 5.625rem 6.875rem;
  max-width: 49.375rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.1875rem;
}
@media (width <= 64.06125rem) {
  .login {
    padding: 2.875rem 2.0625rem;
  }
}
@media (width <= 47.99875rem) {
  .login {
    padding: 2.0625rem 0.9375rem;
  }
}
.login__title {
  text-align: center;
}
.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.login__button {
  align-self: start;
  width: 50%;
}
@media (width <= 47.99875rem) {
  .login__button {
    width: auto;
  }
}
.login__extra {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
  font-weight: 400;
  border-top: 0.0625rem solid var(--white-color);
  margin-top: -1.0625rem;
  padding-top: 1.0625rem;
}
@media (width <= 47.99875rem) {
  .login__extra {
    flex-direction: column;
    row-gap: 0.625rem;
  }
}
.login__extra-link {
  color: var(--green-color);
}
.login__error {
  color: var(--red-color);
}

.input {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  border-radius: var(--border-radius);
  background: transparent;
  border: 0.0625rem solid transparent;
  padding: 1rem 1.6875rem;
  width: 100%;
  color: var(--grey-color);
}
.input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (width <= 30.06125rem) {
  .input {
    padding: 0.625rem 1.25rem;
  }
}
.input::placeholder {
  color: var(--grey-color);
}
.input_upload-file {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
.input_invalid {
  border: 0.0625rem solid var(--red-color);
}
.input_invalid::placeholder {
  color: var(--red-color);
}

.select {
  border-radius: var(--border-radius);
  background: transparent;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(1.5px);
  padding: 1rem 1.6875rem;
  color: var(--grey-color);
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}
@media (width <= 30.06125rem) {
  .select {
    padding: 0.625rem 1.25rem;
  }
}
.select__alt {
  box-shadow: none;
  backdrop-filter: none;
  width: auto;
  padding: 0rem;
}
.select__alt:focus-visible {
  outline: none;
  outline-offset: 0;
}
.select__alt + .select__image {
  margin-left: 0;
}
.select-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.select-wrapper:has(.select__alt) {
  column-gap: 0.5rem;
}
.select__image {
  margin-left: -2.875rem;
  z-index: 1;
}

.search-input {
  width: 100%;
}
.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (width > 64.06125rem) {
  .search-input-wrapper {
    min-width: 13.75rem;
  }
}
.search-input__image {
  margin-left: -2.875rem;
  z-index: 1;
}
@media (width <= 30.06125rem) {
  .search-input__image {
    margin-left: -2.5rem;
  }
}

.footer {
  --footerLinkOffsetTop: -1.875rem;
  --footerPaddingBlock: 4.6875rem;
  display: flex;
  flex-direction: column;
}
@media (width <= 64.06125rem) {
  .footer {
    --footerLinkOffsetTop: -0.9375rem;
    --footerPaddingBlock: 2.1875rem;
  }
}
@media (width <= 47.99875rem) {
  .footer {
    --footerPaddingBlock: 2.625rem;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.875rem;
  padding-bottom: var(--footerPaddingBlock);
  padding-top: calc(var(--footerPaddingBlock) + var(--footerLinkOffsetTop));
}
@media (width <= 47.99875rem) {
  .footer__inner {
    row-gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
  }
}
.footer__title {
  max-width: 14.6875rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
@media (width <= 47.99875rem) {
  .footer__title {
    align-items: center;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  align-items: end;
}
@media (width <= 47.99875rem) {
  .footer__body {
    display: contents;
  }
}
.footer__list {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 64.06125rem) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.0625rem;
    column-gap: 5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__list {
    grid-template-columns: 1fr;
    row-gap: 0.9375rem;
  }
}
.footer__link {
  width: max-content;
  margin-top: var(--footerLinkOffsetTop);
  align-self: end;
}
.footer__icon {
  width: 3.25rem;
  height: 3.25rem;
}

.dropDown {
  --left: -11.875rem;
  position: absolute;
  padding: 0.9375rem;
  border-radius: 0.875rem;
  background-color: #222E3E;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  opacity: 0;
  visibility: hidden;
  min-width: 14.375rem;
  max-width: 15.625rem;
  top: 2.0625rem;
  left: var(--left);
  transition-duration: var(--transition-duration);
  z-index: 1000;
}
.dropDown::after {
  width: 0.8125rem;
  height: 0.8125rem;
  content: "";
  position: absolute;
  display: block;
  rotate: 45deg;
  background-color: inherit;
  top: -0.375rem;
  left: calc(var(--left) * -1 + 4px);
}

.icon-drop-down-button {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.icon-drop-down-button__description {
  cursor: default;
}
.icon-drop-down-button__description.is-active {
  opacity: 1;
  visibility: visible;
}

.aside {
  padding: 2.375rem 1.75rem;
  width: max-content;
  border-radius: 0.5rem;
  background: rgba(80, 110, 131, 0.2);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.6) inset;
  backdrop-filter: blur(0.75rem);
}
@media (width <= 47.99875rem) {
  .aside {
    position: fixed;
    z-index: 1;
    padding: 1.875rem 0;
    width: 100vw;
    margin-left: calc(-1 * var(--container-padding-x));
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
.aside__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .aside__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.aside__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.375rem;
  color: #B5B7CB;
}
.aside__link.is-active {
  color: var(--green-color);
}

.metric {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  justify-content: space-between;
  padding: 1.125rem 1.875rem;
  border: 0.0625rem solid #39384F;
  border-radius: 0.4375rem;
  max-width: max-content;
  height: 100%;
}
@media (width <= 64.06125rem) {
  .metric {
    padding: 0.625rem 0.9375rem;
    row-gap: 0.3125rem;
  }
}
@media (width <= 47.99875rem) {
  .metric {
    padding: 0.375rem 0.625rem;
    hyphens: auto;
  }
}
.metric__title {
  color: #9C9BD6;
  opacity: 0.6;
}
.metric__body {
  font-size: 1.375rem;
  display: flex;
  column-gap: 0.5rem;
}

.user-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}
.user-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
  padding: 1.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 1.25rem;
}
@media (width <= 64.06125rem) {
  .user-page__header {
    padding: 0.75rem 1rem;
  }
}
@media (width <= 47.99875rem) {
  .user-page__header {
    flex-direction: column;
    align-items: normal;
    row-gap: 0.8125rem;
    padding-inline: 0.75rem;
  }
}
.user-page__title {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
@media (width <= 64.06125rem) {
  .user-page__title {
    column-gap: 0.625rem;
  }
}
.user-page__image {
  width: 100%;
  height: 100%;
}
.user-page__image-wrapper {
  width: 5.3125rem;
  height: 5.3125rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
@media (width <= 64.06125rem) {
  .user-page__image-wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.user-page__metrics {
  display: flex;
  column-gap: 1.375rem;
}
@media (width <= 64.06125rem) {
  .user-page__metrics {
    column-gap: 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .user-page__metrics {
    justify-content: space-between;
  }
}
@media (width <= 30.06125rem) {
  .user-page__metrics {
    row-gap: 0.625rem;
  }
}
.user-page__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .user-page__body {
    row-gap: 0.625rem;
  }
}
.user-page__body-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
@media (width <= 64.06125rem) {
  .user-page__body-inner {
    gap: 1.0625rem;
  }
}
@media (width <= 47.99875rem) {
  .user-page__body-inner {
    grid-template-columns: 1fr;
    gap: 1.625rem;
  }
}
.user-page__error {
  color: var(--red-color);
}
.user-page__balance {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  display: flex;
  column-gap: 2.625rem;
  justify-content: space-between;
  padding: 3.125rem 2.5rem;
}
@media (width <= 64.06125rem) {
  .user-page__balance {
    flex-direction: column;
    row-gap: 1.6875rem;
    padding: 1.6875rem 1.25rem;
  }
}
@media (width <= 30.06125rem) {
  .user-page__balance {
    padding: 1.25rem;
  }
}
.user-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.625rem;
  width: 100%;
  padding: 1.875rem 3.125rem 2.8125rem 3.125rem;
  border-radius: 0.5rem;
  background-color: var(--dark-color-alt);
}
@media (width <= 30.06125rem) {
  .user-page__form {
    padding: 1.375rem;
  }
}
.user-page__field, .user-page__button {
  width: 100%;
}

.channel-card {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 1.0625rem;
  padding-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.channel-card:has(div[class=channel-card__create-channel]) {
  row-gap: 5rem;
}
@media (width <= 64.06125rem) {
  .channel-card {
    padding: 0.6875rem;
    padding-bottom: 1.625rem;
    row-gap: 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .channel-card {
    padding-bottom: 1.125rem;
  }
}
.channel-card__header {
  background-color: var(--dark-color-alt);
  padding-block: 0.9375rem;
  text-align: center;
  border-radius: 0.625rem;
  font-weight: 500;
}
@media (width <= 64.06125rem) {
  .channel-card__header {
    padding-block: 0.625rem;
  }
}
.channel-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (width <= 64.06125rem) {
  .channel-card__body {
    row-gap: 1rem;
  }
}
.channel-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
}
@media (width <= 64.06125rem) {
  .channel-card__title {
    row-gap: 0.625rem;
    flex-direction: column;
    align-items: normal;
  }
}
.channel-card__author, .channel-card__buttons {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}
@media (width <= 64.06125rem) {
  .channel-card__author, .channel-card__buttons {
    column-gap: 0.5rem;
  }
}
.channel-card__buttons {
  margin-left: auto;
}
.channel-card__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #33335A;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent;
  padding: 0.375rem;
}
@media (any-hover: hover) {
  .channel-card__button-icon:hover {
    opacity: 0.6;
  }
}
@media (any-hover: none) {
  .channel-card__button-icon:active {
    opacity: 0.6;
  }
}
.channel-card__image {
  width: 100%;
  height: 100%;
}
.channel-card__image-wrapper {
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}
.channel-card__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media (width <= 64.06125rem) {
  .channel-card__info {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 0.625rem;
  }
}
.channel-card__item {
  background-color: var(--dark-color-alt);
  border-radius: 0.5rem;
  padding: 1rem 1.25rem 2.625rem 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.875rem;
  width: auto;
}
.channel-card__item:nth-child(3) {
  color: var(--green-color-alt);
}
.channel-card__item:nth-child(4) {
  color: var(--green-color);
}
.channel-card__item p[class=size-small] {
  color: #9C9BD6;
  hyphens: auto;
}
.channel-card__risk-1, .channel-card__risk-2, .channel-card__risk-3 {
  hyphens: auto;
}
.channel-card__risk-1 {
  color: var(--green-color-alt);
}
.channel-card__risk-2 {
  color: #ffb342;
}
.channel-card__risk-3 {
  color: var(--red-color);
}
@media (width <= 64.06125rem) {
  .channel-card__extra {
    text-align: center;
  }
}
.channel-card__extra {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
}
.channel-card__create-channel {
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem;
  align-items: center;
  margin-block: auto;
}
.channel-card__create-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8125rem;
  padding: 2.75rem 4.875rem;
  background-color: transparent;
  border: 0.0625rem dashed var(--grey-color);
  border-radius: 1.25rem;
}
@media (any-hover: hover) {
  .channel-card__create-button:hover {
    box-shadow: 0 0 0.5625rem 0.125rem var(--green-color);
  }
}
@media (any-hover: none) {
  .channel-card__create-button:active {
    box-shadow: 0 0 0.5625rem 0.125rem var(--green-color);
  }
}
.channel-card__create-image {
  width: 2.5rem;
  height: 2.5rem;
}
.channel-card__link {
  color: var(--green-color);
}
.channel-card__modal {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media (width <= 64.06125rem) {
  .channel-card__modal {
    padding: 0.5rem 2.5rem 0 2.5rem;
  }
}
@media (width <= 30.06125rem) {
  .channel-card__modal {
    padding: 0.5rem 1.25rem 0 1.25rem;
  }
}
.channel-card__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
}
.channel-card__error {
  color: var(--red-color);
}
.channel-card__field {
  width: 100%;
}
.channel-card__field-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.channel-card__tooltip {
  margin-left: -4rem;
}
.channel-card[data-main-element=true] {
  padding: 1.0625rem 1.75rem;
}
[data-main-element=true] .channel-card__header, [data-main-element=true] .channel-card__buttons, [data-main-element=true] .channel-card__date {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
[data-main-element=true] .channel-card__body {
  display: grid;
  grid-template-columns: 1.9fr 0.8fr 1fr 1fr 0.8fr 0.6fr 0.8fr;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 64.06125rem) {
  [data-main-element=true] .channel-card__body {
    grid-template-columns: 0.8fr 0.8fr 1fr 1fr 0.8fr 0.8fr;
    column-gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  [data-main-element=true] .channel-card__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 64.06125rem) {
  [data-main-element=true] .channel-card__title {
    grid-column: 1/-1;
  }
}
@media (width <= 47.99875rem) {
  [data-main-element=true] .channel-card__author {
    flex-direction: row;
  }
}
[data-main-element=true] .channel-card__image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
}
@media (width > 47.99875rem) {
  [data-main-element=true] .channel-card__info {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  [data-main-element=true] .channel-card__info {
    grid-column: 1/-1;
    order: 1;
    grid-template-columns: 1fr;
  }
}
[data-main-element=true] .channel-card__item {
  background-color: transparent;
  padding: 0;
  align-items: start;
  text-align: start;
}
@media (width <= 47.99875rem) {
  [data-main-element=true] .channel-card__item {
    flex-direction: row;
  }
}
[data-main-element=true] .channel-card__name {
  font-size: 0.75rem;
  hyphens: auto;
}
[data-main-element=true] .channel-card__extra {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  display: none;
}

.channels-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
@media (width <= 47.99875rem) {
  .channels-list {
    row-gap: 0.75rem;
  }
}
.channels-list__header {
  display: grid;
  grid-template-columns: 1.9fr 0.8fr 1fr 1fr 0.8fr 0.6fr 0.8fr 2.25rem;
  column-gap: 1.875rem;
  align-items: center;
  background: rgba(19, 24, 31, 0.7);
  border-radius: 0.625rem;
  padding: 0.8125rem 1.75rem;
}
@media (width <= 64.06125rem) {
  .channels-list__header {
    column-gap: 0.625rem;
    padding: 0.75rem;
  }
}
.channels-list__header-item {
  font-size: 0.625rem;
  color: #696B95;
  hyphens: auto;
}
@media (width <= 64.06125rem) {
  .channels-list__header-item:first-child {
    text-align: center;
  }
}

.channel-item {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  font-size: 0.875rem;
  padding: 1.0625rem 1.75rem;
  display: grid;
  grid-template-columns: 1.9fr 0.8fr 1fr 1fr 0.8fr 0.6fr 0.8fr 0.36fr;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 64.06125rem) {
  .channel-item {
    column-gap: 0.625rem;
    padding: 0.75rem;
  }
}
@media (width <= 47.99875rem) {
  .channel-item {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }
}
.channel-item__header {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
@media (width <= 64.06125rem) {
  .channel-item__header {
    flex-direction: column;
    row-gap: 0.25rem;
    text-align: center;
  }
}
@media (width <= 47.99875rem) {
  .channel-item__header {
    flex-direction: row;
    text-align: start;
  }
}
.channel-item__image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.channel-item__name {
  hyphens: manual;
  font-size: 0.75rem;
}
@media (width > 47.99875rem) {
  .channel-item__list {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .channel-item__list {
    grid-column: 1/-1;
    order: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .channel-item__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.channel-item__item:nth-child(4) {
  color: var(--green-color);
}
.channel-item__label {
  color: #6C6E9D;
}
.channel-item__risk-1, .channel-item__risk-2, .channel-item__risk-3 {
  hyphens: auto;
}
.channel-item__risk-1 {
  color: var(--green-color-alt);
}
.channel-item__risk-2 {
  color: #ffb342;
}
.channel-item__risk-3 {
  color: var(--red-color);
}
.channel-item__link::after {
  width: 2.25rem;
  height: 2.25rem;
  content: "";
  background-image: url("/src/assets/icons/Arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (width <= 47.99875rem) {
  .channel-item__link {
    margin-left: auto;
  }
}

.channel-main {
  font-size: 0.875rem;
  display: grid;
  grid-template-columns: 2fr repeat(6, 1fr);
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 64.06125rem) {
  .channel-main {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.625rem;
    row-gap: 0.625rem;
  }
}
@media (width <= 47.99875rem) {
  .channel-main {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
  }
}
.channel-main__header {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
@media (width <= 64.06125rem) {
  .channel-main__header {
    grid-column: 1/-1;
    flex-direction: row;
  }
}
@media (width <= 47.99875rem) {
  .channel-main__header {
    flex-direction: row;
    text-align: start;
  }
}
.channel-main__image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.channel-main__name {
  hyphens: manual;
}
@media (width > 47.99875rem) {
  .channel-main__list {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .channel-main__list {
    grid-column: 1/-1;
    order: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
  }
}
.channel-main__item:not(:has(p[class="channel-item__label  visible-mobile"])) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  hyphens: manual;
}
@media (width <= 47.99875rem) {
  .channel-main__item:not(:has(p[class="channel-item__label  visible-mobile"])) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (width <= 47.99875rem) {
  .channel-main__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.channel-main__item:nth-child(4) {
  color: var(--green-color);
}
.channel-main__label {
  color: #6C6E9D;
}
.channel-main__risk-1, .channel-main__risk-2, .channel-main__risk-3 {
  hyphens: auto;
}
.channel-main__risk-1 {
  color: var(--green-color-alt);
}
.channel-main__risk-2 {
  color: #ffb342;
}
.channel-main__risk-3 {
  color: var(--red-color);
}
.channel-main__link::after {
  width: 2.25rem;
  height: 2.25rem;
  content: "";
  background-image: url("/src/assets/icons/Arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (width <= 47.99875rem) {
  .channel-main__link {
    margin-left: auto;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__inner {
  background-color: var(--dark-color);
  padding-inline: 4.6875rem;
  padding-bottom: 3.125rem;
  border-radius: 1.25rem;
  width: 80%;
}
@media (width <= 47.99875rem) {
  .modal__inner {
    width: 100%;
  }
}
.modal__button {
  margin-left: auto;
  translate: 4.6875rem;
}

.traders {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
}
.traders__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8125rem 0.8125rem;
  background-color: rgba(23, 35, 51, 0.7);
  border-radius: var(--border-radius);
}
@media (width <= 64.06125rem) {
  .traders__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5625rem;
  }
}
.traders__form {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
}
@media (width <= 64.06125rem) {
  .traders__form {
    display: contents;
  }
}
@media (width <= 64.06125rem) {
  .traders__field {
    grid-column: 1/-1;
  }
}
@media (width <= 64.06125rem) {
  .traders__field:last-child {
    margin-left: auto;
  }
}
.traders__select:nth-child(2) {
  grid-column: 1/3;
}
@media (width <= 30.06125rem) {
  .traders__select:nth-child(2) {
    grid-column: 1/-1;
  }
}
.traders__select:last-child {
  grid-column: 3/-1;
}
@media (width <= 30.06125rem) {
  .traders__select:last-child {
    grid-column: 1/-1;
  }
}
.traders__button {
  grid-column: 1/-1;
}

.trader-channel {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.trader-channel__header {
  --headerPaddingX: 1.875rem;
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 1.875rem var(--headerPaddingX);
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media (width <= 64.06125rem) {
  .trader-channel__header {
    --headerPaddingX: 1.125rem;
    padding-block: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .trader-channel__header {
    --headerPaddingX: 0.75rem;
    padding-block: 1.25rem;
  }
}
.trader-channel__header-extra {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 3rem;
}
@media (width <= 64.06125rem) {
  .trader-channel__header-extra {
    row-gap: 1.5rem;
    grid-template-columns: auto;
  }
}
@media (width <= 47.99875rem) {
  .trader-channel__header-extra {
    row-gap: 1.25rem;
  }
}
.trader-channel__header-extra::before {
  position: absolute;
  content: "";
  top: -1.25rem;
  left: calc(var(--headerPaddingX) * -1);
  width: calc(100% + var(--headerPaddingX) * 2);
  height: 0.0625rem;
  background-color: #333B54;
}
.trader-channel__info {
  display: flex;
  justify-content: space-between;
  column-gap: 1.875rem;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .trader-channel__info {
    flex-direction: column;
    row-gap: 1.125rem;
  }
}
.trader-channel__banner {
  border-radius: 0.4375rem;
  background-color: var(--green-color);
  padding: 0.25rem 1.25rem;
  color: var(--dark-color);
  text-wrap: wrap;
}
.trader-channel__body {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 1.375rem;
}
@media (width <= 47.99875rem) {
  .trader-channel__body {
    padding: 0.625rem;
  }
}
.trader-channel__modal {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}
.trader-channel__modal-body {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.trader-channel__modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
  background-color: #182839;
  border-radius: 0.625rem;
  padding: 1.125rem;
}
@media (width <= 47.99875rem) {
  .trader-channel__modal-title {
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
    padding-inline: 0.9375rem;
  }
}
.trader-channel__modal-name {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
.trader-channel__modal-list {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .trader-channel__modal-list {
    flex-direction: column;
    align-items: start;
    row-gap: 0.625rem;
    width: 100%;
  }
}
@media (width <= 47.99875rem) {
  .trader-channel__modal-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.trader-channel__modal-label {
  color: #676C97;
}
.trader-channel__modal-error {
  text-align: center;
  text-wrap: balance;
}
.trader-channel__modal-error-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}

.chart__tabs {
  justify-content: end;
}

.statistics {
  --paddingX: 1.5625rem;
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 1.5625rem var(--paddingX);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.875rem;
}
.statistics__header, .statistics__buttons {
  position: relative;
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
}
@media (width <= 64.06125rem) {
  .statistics__header, .statistics__buttons {
    flex-direction: column;
    align-items: start;
    row-gap: 0.9375rem;
  }
}
.statistics__buttons::after, .statistics__buttons::before {
  position: absolute;
  content: "";
  left: calc(var(--paddingX) * -1);
  width: calc(100% + var(--paddingX) * 2);
  height: 0.0625rem;
  background-color: #333B54;
}
.statistics__buttons::before {
  top: -1.4375rem;
}
.statistics__buttons::after {
  top: calc(100% + 1.4375rem);
}
.statistics__title {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.statistics__image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.statistics__metrics {
  display: flex;
  column-gap: 1.875rem;
  font-size: 0.875rem;
}
@media (width <= 47.99875rem) {
  .statistics__metrics {
    width: 100%;
    row-gap: 0.5rem;
    flex-direction: column;
  }
}
@media (width <= 47.99875rem) {
  .statistics__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.statistics__label {
  color: #9C9BD6;
}
.statistics__banner {
  background-color: var(--green-color);
  border-radius: 0.5rem;
  padding: 0.25rem 1.25rem;
  color: var(--dark-color);
}

.help {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 6.75rem 9.8125rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (width <= 64.06125rem) {
  .help {
    padding: 7.5rem 2rem;
  }
}
@media (width <= 47.99875rem) {
  .help {
    padding: 2rem 1.25rem;
  }
}
.help__title, .help__description {
  text-align: center;
}
.help__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.0625rem;
  row-gap: 1.375rem;
}
@media (width <= 47.99875rem) {
  .help__form {
    grid-template-columns: 1fr;
  }
}
.help__label {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.help__label:nth-child(3) {
  grid-column: 1/-1;
}
.help__button {
  grid-column: 1/-1;
}
.help__error {
  color: var(--red-color);
}

.text-aria {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  border-radius: var(--border-radius);
  background: transparent;
  border: 0.0625rem solid transparent;
  padding: 1rem 1.6875rem;
  width: 100%;
  color: var(--grey-color);
  resize: none;
}
@media (width <= 30.06125rem) {
  .text-aria {
    padding: 0.625rem 1.25rem;
  }
}
.text-aria::placeholder {
  color: var(--grey-color);
}
.text-aria_invalid {
  border: 0.0625rem solid var(--red-color);
}
.text-aria_invalid::placeholder {
  color: var(--red-color);
}

.settings {
  border-radius: 1.25rem;
  background: rgba(23, 35, 51, 0.8);
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(239, 232, 232, 0.4) inset;
  backdrop-filter: blur(0.9375rem);
  padding: 2.375rem 2rem 6.25rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  width: 100%;
}
.settings__forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
}
@media (width <= 64.06125rem) {
  .settings__forms {
    column-gap: 1.375rem;
  }
}
@media (width <= 47.99875rem) {
  .settings__forms {
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }
}
.settings__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: space-between;
  background-color: var(--dark-color-alt);
  border-radius: 0.5rem;
  padding: 2.8125rem;
}
@media (width <= 64.06125rem) {
  .settings__form {
    padding: 2rem 0.75rem;
    text-align: center;
  }
}
.settings__label {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.settings__error {
  color: var(--red-color);
  text-align: start;
}
.settings__button-error {
  align-self: end;
}
.settings__modal {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.25rem;
  justify-content: space-between;
}
.settings__modal-buttons {
  display: flex;
  column-gap: 1.625rem;
}
@media (width <= 30.06125rem) {
  .settings__modal-buttons {
    flex-direction: column;
    row-gap: 0.75rem;
  }
}

/*# sourceMappingURL=index.css.map */
