@use "../../styles/helpers" as *;

.tabs-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_alt {
    column-gap: rem(20);
    row-gap: rem(10);
    flex-wrap: wrap;

    @include mobile {
      column-gap: rem(10);
    }
  }
}