@use "../../styles/helpers" as *;

.app-router {
  &__not-registered {
    background-image: url("/src/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;

    &-body {
      padding-block: rem(100);
      position: relative;
      z-index: 2;

      @include tablet {
        padding-block: rem(62);
      }

      @include mobile {
        padding-block: rem(48);
      }
    }

    &-ui-bubble {
      display: block;
      border-radius: 50%;
      position: fixed;
      z-index: 1;

      &:first-child {
        @include square(rem(152));

        top: 10%;
        left: 15%;
        background: linear-gradient(4deg, rgba(115, 17, 198, 0.90) -0.98%, rgba(132, 105, 209, 0.90) 89%);

        @include tablet {
          top: 15%;
          left: 5%;
        }
      }

      &:nth-child(2) {
        @include square(rem(152));

        top: 45%;
        left: 70%;
        background: linear-gradient(174deg, #2C90F7 4.43%, #94B9FF 198%);

        @include tablet {
          top: 35%;
        }
      }

      &:last-child {
        @include square(rem(62));

        top: 20%;
        left: 60%;
        background: var(--green-color);
      }
    }
  }

  &__registered {
    position: relative;
    &::before {
      position: absolute;

      z-index: -1;

      content: '';

      background-image: url("/src/assets/images/backbroundReg.png");
      background-position: center;

      filter: blur(30px);

      display: block;

      width: 100%;
      height: 100%;
    }

    &-body {
      display: flex;
      column-gap: rem(30);
      padding-bottom: rem(10);

      @include tablet {
        column-gap: rem(20);
      }

      @include mobile {
        flex-direction: column;
        row-gap: rem(30);

        padding-bottom: 0;
      }
    }

  }
}