@use "../../styles/helpers" as *;

.trader-channel {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);


  &__header {
    @include background;

    padding: rem(30);

    display: flex;
    flex-direction: column;

    @include tablet {
      padding: rem(24) rem(18);
    }

    @include mobile {
       padding: rem(20) rem(12);
     }

    &-extra {
      margin-top: rem(22);
      padding-top: rem(16);

      border-top: rem(1) solid #4D5568;

      display: grid;
      grid-template-columns: max-content auto;
      column-gap: rem(48);

      @include tablet {
        row-gap: rem(24);
        grid-template-columns: auto;
      }

      @include mobile {
        row-gap: rem(20);
      }
    }
  }

  &__tabs {
    column-gap: rem(20);
    row-gap: rem(10);
    flex-wrap: wrap;

    @include mobile {
      column-gap: rem(10);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: rem(30);
    align-items: center;
    
    @include mobile {
      flex-direction: column;
      row-gap: rem(18);
    }
  }

  &__banner {
    border-radius: rem(7);
    background-color: var(--green-color);

    padding: rem(4) rem(20);

    color: var(--dark-color);

    text-wrap: wrap;
  }

  &__body {
    @include background;

    padding: rem(22);

    @include mobile {
      padding: rem(10);
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    row-gap: rem(36);

    &-body {
      display: flex;
      flex-direction: column;
      row-gap: rem(24);
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(10);

      background-color: #182839;
      border-radius: rem(10);

      padding: rem(18);

      @include mobile {
        flex-direction: column;

        align-items: start;
        row-gap: rem(16);

        padding-inline: rem(15);
      }
    }

    &-name {
      display: flex;
      column-gap: rem(10);
      align-items: center;
    }

    &-list {
      display: flex;
      column-gap: rem(20);
      align-items: center;

      @include mobile {
        flex-direction: column;
        align-items: start;
        row-gap: rem(10);

        width: 100%;
      }
    }

    &-item {
      @include mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &-label {
      color: #676C97;
    }

    &-error {
      text-align: center;
      text-wrap: balance;

      &-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(25);
      }
    }
  }
}