@use "../../styles/helpers" as *;

.header {

  &__inner {
    padding: rem(22);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__components {
    display: flex;
    align-items: center;
    column-gap: rem(32);
  }

  &__money-amount {
    display: flex;
    column-gap: rem(8);
  }

  &__account-type {
    cursor: default;
    @include hover {
      opacity: 1;
    }
  }

  &__user-button {
    background: transparent;
    border: none;
    text-align: start;
    align-items: center;

    display: flex;
    column-gap: rem(8);
    width: max-content;

    &::before {
      @include square(rem(14));

      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:first-child {
      &::before {
        background-image: url("/src/assets/icons/Options.svg");
      }
    }

    &:nth-child(2) {
      &:before {
        background-image: url("/src/assets/icons/Setting.svg");
      }
    }

    &:last-child {
      &::before {
        background-image: url("/src/assets/icons/Logout.svg");
      }
    }

    @include hover {
      color: var(--green-color);
    }
  }
}