@use "../../styles/helpers" as *;

.header {

  &__inner {
    padding-block: rem(20);

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(26);

  }

  &__nav {
    margin-left: auto;

    @include tablet {
      position: absolute;
      inset: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: rem(30);

      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__list {
    display: flex;
    column-gap: rem(26);

    @include tablet {
      flex-direction: column;
      row-gap: rem(20);
      align-items: center;
      justify-content: center;

      text-align: center;

      background-color: var(--dark-color);
      border-radius: var(--border-radius);

      padding: rem(30);

      width: 75%;
      height: 65%;

      z-index: 1000;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }
}