@use "../../styles/helpers" as *;

.user-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: rem(36);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(10);

    padding: rem(20);

    background-color: var(--dark-color-alt);

    border-radius: rem(20);

    @include tablet {
      padding: rem(12) rem(16);
    }

    @include mobile {
      flex-direction: column;
      align-items: normal;
      row-gap: rem(13);

      padding-inline: rem(12);
    }
  }

  &__title {
    display: flex;
    column-gap: rem(24);
    align-items: center;

    @include tablet {
      column-gap: rem(10);
    }
  }

  &__image {
    @include square(100%);

    &-wrapper {
      @include square(rem(85));

      border-radius: 50%;

      overflow: hidden;

      flex-shrink: 0;

      @include tablet {
        @include square(rem(56))
      }
    }
  }

  &__metrics {
    display: flex;
    column-gap: rem(22);

    @include tablet {
      column-gap: rem(10);
    }

    @include mobile {
      justify-content: space-between;
    }

    @include mobile-s {
      row-gap: rem(10);
    }
  }

  &__item {

  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);

    @include mobile {
      row-gap: rem(10);
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);

      @include tablet {
        gap: rem(17);
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: rem(26);
      }
    }
  }

  &__error {
    color: var(--red-color);
  }

  &__balance {
    @include background;

    display: flex;
    flex-direction: column;
    row-gap: rem(20);

    padding: rem(50) rem(40);

    @include tablet {
      padding: rem(27) rem(20);
    }

    @include mobile-s {
      padding: rem(20);
    }
  }

  &__forms {
    display: flex;
    column-gap: rem(42);
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      row-gap: rem(27);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(26);

    width: 100%;

    padding: rem(30) rem(50) rem(45) rem(50);

    border-radius: rem(8);

    background-color: var(--dark-color-alt);

    @include mobile-s {
      padding: rem(22);
    }
  }

  &__field, &__button {
    width: 100%;
  }
}