@use "../../styles/helpers" as *;

.tooltip {
  position: relative;

  &__header {
    @include square(rem(20));
    @include flex-center;

    border-radius: 50%;
    background: var(--base-gradient);
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.22) inset, 0px 1px 2px 0px rgba(239, 232, 232, 0.60) inset;
    backdrop-filter: blur(3px);

    cursor: default;

    &:hover + .tooltip__description {
      opacity: 1;
      visibility: visible;
    }
  }
}